* {
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    font-family: Tahoma;
    color: #333333;
}

.section {
    padding: 30px 10%;
}

.header {
    margin-top: 80px;
    font-size: 24px;
    text-align: center;
}

.header span {
    font-weight: 300;
    display: block;
}

.header strong {
    font-weight: 900;
    text-transform: uppercase;
}

.main {
    text-align: center;
    margin-top: 80px;
}

.video, .form {
    display: inline-block;
    vertical-align: middle;
}

.form {
    margin-left: 30px;
    text-align: center;
    border: 5px solid #2727d9;
    padding: 20px;
}

.form input {
    display: block;
    margin-top: 10px;
    border: 1px solid gray;
    width: 300px;
    padding: 15px;
    font-size: 18px;
}

.form-header {
    margin-bottom: 20px;
    font-size: 20px;
    text-align: center;
    font-weight: 900;
}

.btn{
    font-size: 18px;
    font-weight: 900;
    color: #fff;
    background-color: #2727d9;
    border: none;
    width: 300px;
    height: 60px;
    margin-top: 20px;
    display: block;
    margin: 11px auto;
}

.col {
    display: inline-block;
    text-align: center;
    margin: 10px 50px;
}

.feature-header {
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 24px;
}

.feature {
    text-align: center;
    margin: 60px auto;
}